@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #080101;
}

/*logo and heading */

h1, h2 {
    font-family: playfair display, sans-serif;
    letter-spacing: 5px;
    color: #0D039B;
}

/*navagation links*/

#logo {
    float: left;
    font-size: 280%;
    line-height: 75px;
    padding-left: 20px;
}

#nav-bar {
    letter-spacing: 3px;
    font-size: 100%;
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
}

#nav-bar a {
    text-decoration: none;
    color: #0D039B;
}

#nav-bar a:hover {
    border-bottom: 2px solid #0D039B;
}

.active {
    border-bottom: 2px solid #0D039B;
}

/*main hero image*/

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center;
    background-attachment: absolute;
    background-size: cover;
}

/*pool details*/

#aqua-center {
    text-align: center;
    margin-top: 80px;
}

#benefits-center {
    text-align: center;
    margin-top: 60px;
}

.benefits-left {
    margin-left: 50px;
    text-align: left;
    line-height: 25px;
    width: 88%;
}

.aqua-left {
    margin-left: 50px;
    text-align: left;
    line-height: 25px;
    width: 100%;
}