@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #080101;
    background-color: aliceblue;
}

/*logo and heading */

h1 {
    font-family: playfair display, sans-serif;
    letter-spacing: 4px;
    color: #fff;
}

h2 {
    font-family: playfair display, sans-serif;
    letter-spacing: 4px;
    color: #0D039B;
}

#logo {
    float: left;
    font-size: 280%;
    line-height: 75px;
    margin-left: 30px;
}

/*navagation links*/

#nav-bar {
    letter-spacing: 1px;
    font-size: 130%;
    line-height: 75px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    font-weight: 700;
    word-spacing: -1px;
    line-height: 85px;
}

#nav-bar a {
    text-decoration: none;
    color: #fff;
}

#nav-bar a:hover {
    border-bottom: 2px solid #0D039B;
}

.active {
    border-bottom: 2px solid #0D039B;
}

/*main hero image*/

#hero-image {
    height: 450px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center;
    background-size: cover;
}

/*pool details*/

#aqua-pool {
    text-align: center;
    margin-top: 80px;
}

#aqua-pool  h2 {
    font-size: 190%;
}

#benefits {
    text-align: center;
    margin-top: 60px;
}

#benefits h2 {
    font-size: 190%;
}

.benefits-info {
    margin-left: 50px;
    text-align: left;
    line-height: 25px;
    width: 90%;
    font-size: 115%;
    margin-bottom: 60px;
}

.aqua-info {
    margin-left: 50px;
    text-align: left;
    line-height: 25px;
    width: 90%;
    font-size: 115%;
}

/*footer*/

.social-links {
    text-align: center;
    float: right;
    margin: 25px 100px;
    letter-spacing: 1px;
}

.social-links li {
    list-style-type: none;
    display: inline;
    letter-spacing: 10px;
    font-size: 230%;
}

.social-links i {
 color: #0D039B;
}

.opening-times {
    text-align: center;
    float: left;
    margin: 25px 100px;
    letter-spacing: 1px;
    font-size: 110%;
}

#map {
    margin-bottom: -10px;
    width: 100%;
}

.footer {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #0D039B;
    color: #fff;
    font-size: 120%;
}

/*page image*/

#lady-swim-1 {
    height: 450px;
    width: 100%;
    background: url('../images/lady-swim-1.jpg') no-repeat center;
    background-size: cover;
}

/*timetable*/

table {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 60px;
    left: 50%;
    top: 50%;
    font-size: 110%;
    text-align: center;
    color: #080101;
    border-radius: 50px;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 80px;
}

#table-title {
    font-size: 190%;
    margin-top: 80px;
    text-align: center;
}

th {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #0D039B;
    color: #fff;
    font-size: 105%;
}

.bold {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #0D039B;
    font-size: 105%;
}

td:hover {
    background-color:rgb(0, 163, 251);
}

/*price list*/

#woman-pool-1{
    height: 450px;
    width: 100%;
    background: url('../images/women-pool-1.jpg') no-repeat center;
    background-size: cover;
}

.price-heading {
    font-size: 190%;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.price-table {
    text-align: center;
    width: 25%;
    background-color: #0D039B;
    color: #fff
}

#table-price-box {
    height: 200px;
    width: 50%;
    top: 50%;
    left: 50%;
   margin-left: 300px;
   margin-top: 100px;
   font-size: 110%;
}

/*join us title*/

#invite {
    text-align: center;
    font-size: 120%;
}

#membership {
    text-align: left;
    margin-left: 16%;
    list-style-position: inside;
    font-size: 120%;
}

/*join us form*/

.container {
    height: 430px;
    width: 35%;
    top: 50%;
    left: 50%;
   margin-left: 380px;
   margin-top: 100px;
   margin-bottom: 100px;
   font-size: 110%;
   text-align: left;
   background-color: #0D039B;
   color: #fff;
   padding: 30px;
   border-radius: 40px;
}

label {
    font-size: 110%;
}

input[type=text] {
    font-size: 110%;
    background-color: aliceblue;
    width: 90%;
}

input[type=email] {
    font-size: 110%;
    background-color: aliceblue;
    width: 90%;
}

input[type=password] {
    font-size: 110%;
    background-color: aliceblue;
    width: 90%;
}

input[type=submit] {
    background-color: #0D039B;
    color: #fff;
    font-size: 120%;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 150px;
    border-radius: 4px;
    width: 30%;
    border: 3px solid #fff;
}

input[type=submit]:hover{
    background-color: rgb(0, 163, 251);
}

 /*contact us*/

 #phone {
    width: 100%;
    height: 450px;
    background: url('../images/phone.jpg') no-repeat center center;
    background-size: cover;
}

#contact-us {
    font-size: 190%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#in-touch {
    text-align: center;
    font-size: 150%;
    margin-top: 50px;
    margin-bottom: -50px;
}

.contact-form {
    height: 700px;
    width: 35%;
    top: 50%;
    left: 50%;
   margin-left: 380px;
   margin-top: 100px;
   margin-bottom: 100px;
   font-size: 110%;
   text-align: left;
   background-color: #0D039B;
   color: #fff;
   padding: 30px;
   border-radius: 40px;
   box-sizing: content-box;
}

textarea {
    font-size: 110%;
    max-width: 450px;
    max-height: 280px;
}

#button {
    position: relative;
}

/*thank you page message*/

#message-thanks {
    font-size: 150%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

/*media queries*/

/*larger to medium screen sizes from 1200px*/
@media screen and (max-width: 1200px) {
  
}

/*medium to small screen sizes from 950px and down*/
@media screen and (max-width: 950px) {

    iframe {
    width: 100%;
    }

    #table-title {
        margin-left: 10px ;
    }

    .bold {
        font-size: 90%;
        padding: 5px;
    }

    #timetable-content { 
        margin-left: 50px;
    }

    td {
        font-size: 90%;
    }

    #table-price-box {
       margin-left: 25%;
    } 

    .price-table {
        font-size: 90%;
        padding: 4px;
    }

  #invite {
    text-align: center;
  }
  #membership {
    text-align: left;
    margin-left: 4%;
  }

.container {
    margin-left: 30%;
}
input[type=submit] {
    margin-left: 34%;
}

.contact-form {
    margin-left: 30%;
}

textarea {
max-width: 320px;
max-height: 300px;
}
}

/*small screen sizes from 400*/
@media screen and (max-width: 400px) {
   
    #logo {
        margin-left: 50px;
        padding: 5px;
        font-size: 210%;
    }

  #nav-bar a {
        color: #fff;
        margin-left: -20px; 
        font-size: 75%;
        position: relative;
        top: 280px;
    }
 
 #aqua-pool {
    font-size: 90%;
 }

 .aqua-info {
    text-align: left;
    margin-left: 20px;
 }

 #benefits {
    font-size: 90%;
 }

 .benefits-info {
    text-align: left;
    margin-left: 20px;
 } 
 
 .opening-times, .social-links {
    text-align: center;
    font-size: 100%;
 }

 .opening-times {
    margin-left: 118px;
 }

.opening-times  p {
    text-align: center;
    font-size: 100%;
}

#timetable-content {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
}
.bold {
    padding: 1px;
    font-size: 50%;
}

td {
    padding: 1px;
    font-size: 66.6%;
}

.price-table {
    font-size: 150%;
}

#swim {
    font-size: 150%;
}

#table-price-box {
    margin-left: 35px;
    width: 80%;
}
 
#invite {
    text-align: left;
    margin-left: 20px;
}

#membership {
    margin-left: 20px;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
    width: 80%
}

#in-touch {
    text-align: center;
    margin-left: 5px;
    font-size: 120%;
}
.contact-form {
    margin-left: 5px;
    margin-right: 5px;
    width: 80%;
}
}


